<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.cloudtips.sdk">

    <application>

        <activity android:name=".ui.TipsActivity"
            android:theme="@style/Theme.CloudTipsSDKDemo"/>

        <activity android:name=".ui.CardActivity"
            android:theme="@style/Theme.CloudTipsSDKDemo"/>

        <activity android:name=".ui.CompletionActivity"
            android:theme="@style/Theme.CloudTipsSDKDemo"/>
    </application>
</manifest>